@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("projectsTitle")</h2>
            @Umbraco.RenderMacro("listProjects")
        </section>
    </div>
</div>