@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div>
    <p>@Umbraco.Field("title")</p>
    <p>@Umbraco.Field("bodyText")</p>
</div>